In [133]:
import pandas as pd

In [134]:
import pandas as pd
import numpy as np

To store and 1d in pandas

In [135]:
list1 = ["A","B","C","D","E"]
series1= pd.Series(list1)

In [136]:
series1

0    A
1    B
2    C
3    D
4    E
dtype: object

In [137]:
list1 = ["A","B","C","D","E"]
series1= pd.Series(list1)

In [138]:
array1 = np.random.randint(20,25, size=(10))
array1

array([23, 22, 22, 23, 24, 20, 24, 21, 24, 20])

In [139]:
series2 = pd.Series(array1)

In [140]:
series2

0    23
1    22
2    22
3    23
4    24
5    20
6    24
7    21
8    24
9    20
dtype: int64

In [141]:
series3 = pd.Series(np.random.randint(20,25, size=(10)))
series3

0    24
1    21
2    21
3    22
4    21
5    20
6    22
7    20
8    20
9    23
dtype: int64

In [142]:
series2+series3

0    47
1    43
2    43
3    45
4    45
5    40
6    46
7    41
8    44
9    43
dtype: int64

In [143]:
series2*series3

0    552
1    462
2    462
3    506
4    504
5    400
6    528
7    420
8    480
9    460
dtype: int64

In [144]:
series2/series3

0    0.958333
1    1.047619
2    1.047619
3    1.045455
4    1.142857
5    1.000000
6    1.090909
7    1.050000
8    1.200000
9    0.869565
dtype: float64

# data frame

In [145]:
students = ["student1","student2","student3","student4","student5"]
rollno = ['1','2','3','4','5']
scores = [45,67,78,89,45]

In [146]:
record = {
    "student":students,
    "rollno":rollno,
    "scores":scores
    }

In [147]:
record

{'student': ['student1', 'student2', 'student3', 'student4', 'student5'],
 'rollno': ['1', '2', '3', '4', '5'],
 'scores': [45, 67, 78, 89, 45]}

In [148]:
record_df = pd.DataFrame(record)
record_df

    student rollno  scores
0  student1      1      45
1  student2      2      67
2  student3      3      78
3  student4      4      89
4  student5      5      45

In [149]:
record_df.set_index(["rollno"]) # index

         student  scores
rollno
1       student1      45
2       student2      67
3       student3      78
4       student4      89
5       student5      45

In [150]:
dict1 = {
    "A":[12,13,14,15,16],
    "B":[13,14,15,16,17],
    "C":[14,15,16,17,18],
    "D":[15,16,17,18,19]
}

In [151]:
df_1 = pd.DataFrame(dict1)

In [152]:
df_1

    A   B   C   D
0  12  13  14  15
1  13  14  15  16
2  14  15  16  17
3  15  16  17  18
4  16  17  18  19

to see columns in df_1

In [153]:
df_1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

### Accessing the desired columns features

In [154]:
df_1["A"]

0    12
1    13
2    14
3    15
4    16
Name: A, dtype: int64

In [155]:
df_1[["A","B"]]

    A   B
0  12  13
1  13  14
2  14  15
3  15  16
4  16  17

In [156]:
df_1["E"] =  df_1["A"]+df_1["B"]+df_1["C"]+df_1["D"]

In [157]:
df_1

    A   B   C   D   E
0  12  13  14  15  54
1  13  14  15  16  58
2  14  15  16  17  62
3  15  16  17  18  66
4  16  17  18  19  70

In [158]:
df_1["F"] = df_1["E"]/4
df_1

    A   B   C   D   E     F
0  12  13  14  15  54  13.5
1  13  14  15  16  58  14.5
2  14  15  16  17  62  15.5
3  15  16  17  18  66  16.5
4  16  17  18  19  70  17.5

info() method

In [159]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
 2   C       5 non-null      int64
 3   D       5 non-null      int64
 4   E       5 non-null      int64
 5   F       5 non-null      float64
dtypes: float64(1), int64(5)
memory usage: 372.0 bytes

In [160]:
dict2={
    "students":["student1","student2","student3","student4","student5","student6","student7"],
    "rollno":['005','006',np.nan,'005','011','012','013'],
    "gender":["male",np.nan,"female","female","male","female","female"],
    "mark_obtained":[65,66,34,56,20,np.nan,56]

}

In [161]:
dict2

{'students': ['student1',
  'student2',
  'student3',
  'student4',
  'student5',
  'student6',
  'student7'],
 'rollno': ['005', '006', nan, '005', '011', '012', '013'],
 'gender': ['male', nan, 'female', 'female', 'male', 'female', 'female'],
 'mark_obtained': [65, 66, 34, 56, 20, nan, 56]}

In [162]:
student_df = pd.DataFrame(dict2)

In [163]:
student_df

   students rollno  gender  mark_obtained
0  student1    005    male           65.0
1  student2    006     NaN           66.0
2  student3    NaN  female           34.0
3  student4    005  female           56.0
4  student5    011    male           20.0
5  student6    012  female            NaN
6  student7    013  female           56.0

### To check  the null value

In [164]:
student_df.isnull()

   students  rollno  gender  mark_obtained
0     False   False   False          False
1     False   False    True          False
2     False    True   False          False
3     False   False   False          False
4     False   False   False          False
5     False   False   False           True
6     False   False   False          False

In [165]:
student_df.isnull().sum()

students         0
rollno           1
gender           1
mark_obtained    1
dtype: int64

In [166]:
student_df.duplicated().sum()

np.int64(0)

## Remove the dupicate value

In [167]:
student_df.drop_duplicates()

   students rollno  gender  mark_obtained
0  student1    005    male           65.0
1  student2    006     NaN           66.0
2  student3    NaN  female           34.0
3  student4    005  female           56.0
4  student5    011    male           20.0
5  student6    012  female            NaN
6  student7    013  female           56.0

In [168]:
student_df.dropna()

   students rollno  gender  mark_obtained
0  student1    005    male           65.0
3  student4    005  female           56.0
4  student5    011    male           20.0
6  student7    013  female           56.0

In [169]:
student_df

   students rollno  gender  mark_obtained
0  student1    005    male           65.0
1  student2    006     NaN           66.0
2  student3    NaN  female           34.0
3  student4    005  female           56.0
4  student5    011    male           20.0
5  student6    012  female            NaN
6  student7    013  female           56.0

In [170]:
marks_mean = student_df["mark_obtained"].mean()

In [171]:
marks_mean

np.float64(49.5)

In [172]:
student_df['gender'] = student_df['gender'].fillna('gender_mode')

In [173]:
student_df

   students rollno       gender  mark_obtained
0  student1    005         male           65.0
1  student2    006  gender_mode           66.0
2  student3    NaN       female           34.0
3  student4    005       female           56.0
4  student5    011         male           20.0
5  student6    012       female            NaN
6  student7    013       female           56.0

In [174]:
student_df['mark_obtained'] = student_df['mark_obtained'].fillna('marks_mean')
student_df

   students rollno       gender mark_obtained
0  student1    005         male          65.0
1  student2    006  gender_mode          66.0
2  student3    NaN       female          34.0
3  student4    005       female          56.0
4  student5    011         male          20.0
5  student6    012       female    marks_mean
6  student7    013       female          56.0

In [175]:
student_df

   students rollno       gender mark_obtained
0  student1    005         male          65.0
1  student2    006  gender_mode          66.0
2  student3    NaN       female          34.0
3  student4    005       female          56.0
4  student5    011         male          20.0
5  student6    012       female    marks_mean
6  student7    013       female          56.0

### loading data to pandas

In [176]:
df = pd.read_csv(r"/content/titanic.csv")

In [177]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [178]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [179]:
df.tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [180]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [181]:
df[["PassengerId", "Name", "Sex", "Survived"]].head(5)

,PassengerId,Name,Sex,Survived
0,1,"Braund, Mr. Owen Harris",male,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1
2,3,"Heikkinen, Miss. Laina",female,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1
4,5,"Allen, Mr. William Henry",male,0

In [182]:
df[["Name", "Sex", "Age"]].head(5)

                                                Name     Sex   Age
0                            Braund, Mr. Owen Harris    male  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                             Heikkinen, Miss. Laina  female  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                           Allen, Mr. William Henry    male  35.0

## Slicing in pandas(loc and iloc)

In [183]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [184]:
df.loc[4:10, "Name":"Parch"]

,Name,Sex,Age,SibSp,Parch
4,"Allen, Mr. William Henry",male,35.0,0,0
5,"Moran, Mr. James",male,NaN,0,0
6,"McCarthy, Mr. Timothy J",male,54.0,0,0
7,"Palsson, Master. Gosta Leonard",male,2.0,3,1
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2
9,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0
10,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1

In [185]:
df.loc[10:20, "Ticket":"Embarked"]

       Ticket     Fare Cabin Embarked
10    PP 9549  16.7000    G6        S
11     113783  26.5500  C103        S
12  A/5. 2151   8.0500   NaN        S
13     347082  31.2750   NaN        S
14     350406   7.8542   NaN        S
15     248706  16.0000   NaN        S
16     382652  29.1250   NaN        Q
17     244373  13.0000   NaN        S
18     345763  18.0000   NaN        S
19       2649   7.2250   NaN        C
20     239865  26.0000   NaN        S

In [186]:
df.iloc[10:20, 8:]

       Ticket     Fare Cabin Embarked
10    PP 9549  16.7000    G6        S
11     113783  26.5500  C103        S
12  A/5. 2151   8.0500   NaN        S
13     347082  31.2750   NaN        S
14     350406   7.8542   NaN        S
15     248706  16.0000   NaN        S
16     382652  29.1250   NaN        Q
17     244373  13.0000   NaN        S
18     345763  18.0000   NaN        S
19       2649   7.2250   NaN        C

In [187]:
df.iloc[15:26, 2:8]

,Pclass,Name,Sex,Age,SibSp,Parch
15,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0
16,3,"Rice, Master. Eugene",male,2.0,4,1
17,2,"Williams, Mr. Charles Eugene",male,NaN,0,0
18,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0
19,3,"Masselmani, Mrs. Fatima",female,NaN,0,0
20,2,"Fynney, Mr. Joseph J",male,35.0,0,0
21,2,"Beesley, Mr. Lawrence",male,34.0,0,0
22,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0
23,1,"Sloper, Mr. William Thompson",male,28.0,0,0
24,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1
25,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5

In [188]:
df[["Name", "Parch"]]

                                                  Name  Parch
0                              Braund, Mr. Owen Harris      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...      0
2                               Heikkinen, Miss. Laina      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)      0
4                             Allen, Mr. William Henry      0
..                                                 ...    ...
886                              Montvila, Rev. Juozas      0
887                       Graham, Miss. Margaret Edith      0
888           Johnston, Miss. Catherine Helen "Carrie"      2
889                              Behr, Mr. Karl Howell      0
890                                Dooley, Mr. Patrick      0

[891 rows x 2 columns]

# Geting information about the data

In [189]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [190]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.0,1,0,2651,11.2417,NaN,C
350,351,0,3,"Odahl, Mr. Nils Martin",male,23.0,0,0,7267,9.2250,NaN,S
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0000,NaN,S
193,194,1,2,"Navratil, Master. Michel M",male,3.0,1,1,230080,26.0000,F2,S

In [191]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## Checking missing values

In [192]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [193]:
df["Embarked"].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [194]:
df["Embarked"].fillna("S", inplace=True)

/tmp/ipython-input-2591539637.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Embarked"].fillna("S", inplace=True)

In [195]:
age_mean = df["Age"].mean()
age_mean

np.float64(29.69911764705882)

In [196]:
embarked_mode = df["Embarked"].mode()[0]
embarked_mode

'S'

In [197]:
df["Age"] = df["Age"].fillna(age_mean)
df["Embarked"] = df["Embarked"].fillna(embarked_mode)

In [198]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [199]:
removing_columns = [["PassengerId", "Name", "Ticket"]]

In [200]:

df = df.drop(columns=removing_columns, errors="ignore")

In [201]:
if {"SibSp", "Parch"}.issubset(df.columns):
    df["Family_size"] = df["SibSp"] + df["Parch"] + 1
else:
    print("Missing columns:", {"SibSp", "Parch"} - set(df.columns))

In [202]:
df["Family_size"] = df["SibSp"] + df["Parch"] +1

In [203]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family_size
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

In [204]:
df = df.drop(columns=["SibSp", "Parch"])

In [205]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Embarked,Family_size
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,S,1

In [214]:
df1 = df.copy()

In [211]:
df1 = pd.get_dummies(df1, columns=["Embarked"], dtype=int)

In [212]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Family_size,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,2,0,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,2,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,1,0,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,2,0,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,1,0,0,1

In [215]:
df1 = pd.get_dummies(df1, columns=["Embarked"], dtype=int, drop_first=True)
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Family_size,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,2,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,2,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,1,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,2,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,1,0,1

In [216]:
def fare_category(fare):
    if fare <= 15:
        return "low"
    elif fare <= 40:
        return "medium"
    else:
        return "high"

In [217]:
df1["Fare_category"] = df1["Fare"].apply(fare_category)

In [218]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Family_size,Embarked_Q,Embarked_S,Fare_category
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,2,0,1,low
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,2,0,0,high
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,1,0,1,low
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,2,0,1,high
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,1,0,1,low

### Remove the Fare category column

In [219]:
df1 = df1.drop(columns=["Fare_category"])

In [220]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Family_size,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,2,0,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,2,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,1,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,2,0,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,1,0,1

In [236]:
df["Cabin"].values

array([nan, 'C85', nan, 'C123', nan, nan, 'E46', nan, nan, nan, 'G6',
       'C103', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'D56', nan,
       'A6', nan, nan, nan, 'C23 C25 C27', nan, nan, nan, 'B78', nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'D33', nan, 'B30', 'C52', nan, nan, nan,
       nan, nan, 'B28', 'C83', nan, nan, nan, 'F33', nan, nan, nan, nan,
       nan, nan, nan, nan, 'F G73', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'C23 C25 C27', nan, nan, nan, 'E31', nan,
       nan, nan, 'A5', 'D10 D12', nan, nan, nan, nan, 'D26', nan, nan,
       nan, nan, nan, nan, nan, 'C110', nan, nan, nan, nan, nan, nan, nan,
       'B58 B60', nan, nan, nan, nan, 'E101', 'D26', nan, nan, nan,
       'F E69', nan, nan, nan, nan, nan, nan, nan, 'D47', 'C123', nan,
       'B86', nan, nan, nan, nan, nan, nan, nan, nan, 'F2', nan, nan,
       'C2', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, 'E33', nan, nan, nan, 'B19', nan, nan, nan, 'A7', nan,
       nan, 'C49', nan, nan, nan, nan, nan, 'F4', nan, 'A32', nan, nan,
       nan, nan, nan, nan, nan, 'F2', 'B4', 'B80', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'G6', nan, nan, nan, 'A31', nan, nan, nan,
       nan, nan, 'D36', nan, nan, 'D15', nan, nan, nan, nan, nan, 'C93',
       nan, nan, nan, nan, nan, 'C83', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, 'C78', nan, nan, 'D35', nan,
       nan, 'G6', 'C87', nan, nan, nan, nan, 'B77', nan, nan, nan, nan,
       'E67', 'B94', nan, nan, nan, nan, 'C125', 'C99', nan, nan, nan,
       'C118', nan, 'D7', nan, nan, nan, nan, nan, nan, nan, nan, 'A19',
       nan, nan, nan, nan, nan, nan, 'B49', 'D', nan, nan, nan, nan,
       'C22 C26', 'C106', 'B58 B60', nan, nan, nan, 'E101', nan,
       'C22 C26', nan, 'C65', nan, 'E36', 'C54', 'B57 B59 B63 B66', nan,
       nan, nan, nan, nan, nan, 'C7', 'E34', nan, nan, nan, nan, nan,
       'C32', nan, 'D', nan, 'B18', nan, 'C124', 'C91', nan, nan, nan,
       'C2', 'E40', nan, 'T', 'F2', 'C23 C25 C27', nan, nan, nan, 'F33',
       nan, nan, nan, nan, nan, 'C128', nan, nan, nan, nan, 'E33', nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'D37', nan, nan, 'B35',
       'E50', nan, nan, nan, nan, nan, nan, 'C82', nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, 'B96 B98', nan, nan, 'D36',
       'G6', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, 'C78', nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, 'E10', 'C52', nan,
       nan, nan, 'E44', 'B96 B98', nan, nan, 'C23 C25 C27', nan, nan, nan,
       nan, nan, nan, 'A34', nan, nan, nan, 'C104', nan, nan, 'C111',
       'C92', nan, nan, 'E38', 'D21', nan, nan, 'E12', nan, 'E63', nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, 'D', nan, 'A14', nan,
       nan, nan, nan, nan, nan, nan, nan, 'B49', nan, 'C93', 'B37', nan,
       nan, nan, nan, 'C30', nan, nan, nan, 'D20', nan, 'C22 C26', nan,
       nan, nan, nan, nan, 'B79', 'C65', nan, nan, nan, nan, nan, nan,
       'E25', nan, nan, 'D46', 'F33', nan, nan, nan, 'B73', nan, nan,
       'B18', nan, nan, nan, 'C95', nan, nan, nan, nan, nan, nan, nan,
       nan, 'B38', nan, nan, 'B39', 'B22', nan, nan, nan, 'C86', nan, nan,
       nan, nan, nan, 'C70', nan, nan, nan, nan, nan, 'A16', nan, 'E67',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'C101',
       'E25', nan, nan, nan, nan, 'E44', nan, nan, nan, 'C68', nan, 'A10',
       nan, 'E68', nan, 'B41', nan, nan, nan, 'D20', nan, nan, nan, nan,
       nan, nan, nan, 'A20', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'C125', nan, nan, nan, nan, nan, nan, nan, nan, 'F4', nan, nan,
       'D19', nan, nan, nan, 'D50', nan, 'D9', nan, nan, 'A23', nan,
       'B50', nan, nan, nan, nan, nan, nan, nan, nan, 'B35', nan, nan,
       nan, 'D33', nan, 'A26', nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'D48', nan, nan, 'E58', nan, nan, nan, nan, nan,
       nan, 'C126', nan, 'B71', nan, nan, nan, nan, nan, nan, nan,
       'B51 B53 B55', nan, 'D49', nan, nan, nan, nan, nan, nan, nan, 'B5',
       'B20', nan, nan, nan, nan, nan, nan, nan, 'C68', 'F G63',
       'C62 C64', 'E24', nan, nan, nan, nan, nan, 'E24', nan, nan, 'C90',
       'C124', 'C126', nan, nan, 'F G73', 'C45', 'E101', nan, nan, nan,
       nan, nan, nan, 'E8', nan, nan, nan, nan, nan, 'B5', nan, nan, nan,
       nan, nan, nan, 'B101', nan, nan, 'D45', 'C46', 'B57 B59 B63 B66',
       nan, nan, 'B22', nan, nan, 'D30', nan, nan, 'E121', nan, nan, nan,
       nan, nan, nan, nan, 'B77', nan, nan, nan, 'B96 B98', nan, 'D11',
       nan, nan, nan, nan, nan, nan, 'E77', nan, nan, nan, 'F38', nan,
       nan, 'B3', nan, 'B20', 'D6', nan, nan, nan, nan, nan, nan,
       'B82 B84', nan, nan, nan, nan, nan, nan, 'D17', nan, nan, nan, nan,
       nan, 'B96 B98', nan, nan, nan, 'A36', nan, nan, 'E8', nan, nan,
       nan, nan, nan, 'B102', nan, nan, nan, nan, 'B69', nan, nan, 'E121',
       nan, nan, nan, nan, nan, 'B28', nan, nan, nan, nan, nan, 'E49',
       nan, nan, nan, 'C47', nan, nan, nan, nan, nan, nan, nan, nan, nan,
       'C92', nan, nan, nan, 'D28', nan, nan, nan, 'E17', nan, nan, nan,
       nan, 'D17', nan, nan, nan, nan, 'A24', nan, nan, nan, 'D35',
       'B51 B53 B55', nan, nan, nan, nan, nan, nan, 'C50', nan, nan, nan,
       nan, nan, nan, nan, 'B42', nan, 'C148', nan], dtype=object)

## Handling the null value in the cabin by filling 'yes' in the passenger having cabin otherwise 'No' if nan

In [224]:
df1["Has_cabin"] = np.where(df1["Cabin"].notna(), "Yes", "No")

In [225]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Cabin,Family_size,Embarked_Q,Embarked_S,Has_cabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,NaN,2,0,1,No
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,C85,2,0,0,Yes
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,NaN,1,0,1,No
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,C123,2,0,1,Yes
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,NaN,1,0,1,No

In [226]:
## now removing the cabin column from the dataset

In [227]:
df1 = df1.drop(columns=["Cabin"])

In [228]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Family_size,Embarked_Q,Embarked_S,Has_cabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,A/5 21171,7.2500,2,0,1,No
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,PC 17599,71.2833,2,0,0,Yes
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,STON/O2. 3101282,7.9250,1,0,1,No
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,113803,53.1000,2,0,1,Yes
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,373450,8.0500,1,0,1,No
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,211536,13.0000,1,0,1,No
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,112053,30.0000,1,0,1,Yes
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,W./C. 6607,23.4500,4,0,1,No
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,111369,30.0000,1,0,0,Yes
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,370376,7.7500,1,1,0,No

In [229]:
df1["Has_cabin"] = df1["Has_cabin"].map({"Yes":1, "No":0})

In [230]:
df1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,Ticket,Fare,Family_size,Embarked_Q,Embarked_S,Has_cabin
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,2,0,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,2,0,0,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,1,0,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,2,0,1,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,1,0,1,0

In [249]:
# df1 = df1.drop(columns=["Name"])

In [243]:
#df1 = df1.drop(columns=["Ticket"])

In [246]:
cleaned_df = df1.copy()

In [247]:
cleaned_df

,PassengerId,Survived,Pclass,Sex,Age,Fare,Family_size,Embarked_Q,Embarked_S,Has_cabin
0,1,0,3,male,22.000000,7.2500,2,0,1,0
1,2,1,1,female,38.000000,71.2833,2,0,0,1
2,3,1,3,female,26.000000,7.9250,1,0,1,0
3,4,1,1,female,35.000000,53.1000,2,0,1,1
4,5,0,3,male,35.000000,8.0500,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.000000,13.0000,1,0,1,0
887,888,1,1,female,19.000000,30.0000,1,0,1,1
888,889,0,3,female,29.699118,23.4500,4,0,1,0
889,890,1,1,male,26.000000,30.0000,1,0,0,1
890,891,0,3,male,32.000000,7.7500,1,1,0,0

In [248]:
cleaned_df.to_csv("cleaned_titanic.csv")